{% extends 'layout.twig' %}

{% block body %}
    <h1>Hello {{ request.user.name }}</h1>
    <div class="alert-container"></div>
    <div class="clearfix"></div>
    <h2 class="pull-left">Select your course</h2>
    <div class="pull-right">
        <a class="btn btn-primary" href="/course/viewall">View All</a>
        <a class="btn btn-primary" href="/cart">View Cart</a>
    </div>
    <table class="table table-bordered course-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.price }}</td>
                <td>
                    <button class="btn btn-primary add-cart-btn" data-id="{{ course._id }}" data-name="{{ course.name }}" data-description="{{ course.description }}" data-price="{{ course.price }}">Add To Cart</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="/javascripts/course.js"></script>
{% endblock %}
